@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: antiquewhite;
}

input[type="date"]
{
    display:block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
    width: 100%;
}

#app .multiselect__tags, #app .multiselect__input, #app .multiselect__input::placeholder {
    @apply bg-gray-700 border-0 text-white;
}

#app .multiselect__content-wrapper {
    @apply bg-gray-500 border-0 text-white;
}

#app .multiselect__tag {
    @apply bg-green-600
}